.orange-bg{
    background-color:#fceae8;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589F 0%, #FF136F 100%);
    color: white;
    border-radius: 10PX;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.col{
    border:none;
    box-shadow: 5px 5px 40px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top:none ;
}
#subcribe{
    height: 300px;
}
#subcribe h6{
    color: gray;
}
footer{
    text-align: center;
}
